.App {
  text-align: center;
}

.App-header {
  font-family: 'Amatic SC';
  background-color: #253D5B;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.gallery-item {
  width: 200px;
  height: 200px;
}

body {
  background-color: #CFCECA;
}
